<div class="block-text">
    <app-heading-1 bigheadingText="Сравнение технологий RFID, штрих-кода и QR-кода"></app-heading-1>
    <app-default-text defaultText="Технология RFID имеет ряд преимуществ по сравнению с традиционными штрих-кодами 
    и QR-кодами. RFID-метки могут считываться без прямой видимости, на расстоянии до 100 метров, и позволяют одновременно 
    идентифицировать до 200 меток в секунду. Объем информации, хранимой на RFID-метке, может достигать 512 000 байт, что 
    значительно больше, чем у штрих-кодов (до 100 байт) и QR-кодов (до 3 072 байт). RFID-метки также обладают повышенной 
    прочностью и устойчивостью к внешним воздействиям, а их срок службы может превышать 10 лет."></app-default-text>
    <app-default-text defaultText="В то же время, штрих-коды и QR-коды дешевле в производстве и требуют более 
    простое оборудование для распознавания. Но важно помнить, что штрих-коды и QR-коды не устойчивы к подделке, 
    в отличие от RFID-меток, которые затруднительно просто так скопировать."></app-default-text>
    <app-default-text defaultText="Выбор между RFID, штрих-кодом или QR-кодом зависит от конкретных задач 
    и требований, таких как необходимый объем данных, дальность считывания, условия эксплуатации и бюджет, 
    но в задачах, связанных с производством, логистикой, учетом транспорта, товаров и охраной объектов от 
    посторонних определённо выигрывает технология RFID."></app-default-text>
</div>
<app-big-image imageUrl="assets/image/allcodes.jpg" imageText="Вот они слева направо - RFID, штрих-код и QR-код"></app-big-image>