.block-text-new {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.block-text {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: justify;
}

/*h3-list на данный момент не используется*/
.h3-list {
    font-weight: bold;
    color: #333;
    position: relative;
    font-size: 25px;
}

.image-with-text {
    margin: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 100%;
}

.li-image-c {
    text-align: center;
    padding: 20px;
}

.image-c {
    border-radius: 25px;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}

.list-adv-element {
    list-style: disc;
}

.image-with-text-reverse {
    flex-direction: row-reverse
}