<div class="block-text-new">
    <app-heading-1 bigheadingText="Различные примеры реализации технологии RFID предприятия СОНИИР"></app-heading-1>
    <app-heading-3 headingText="Мобильное устройство считывания-опроса диапазона УВЧ 860-930 МГц УСО-УВЧ-800М (С)"></app-heading-3>
    <ul class="image-with-text">
        <li class="li-image-c">
            <img class="image-c" src="assets/image/УСО-УВЧ800М-1.jpg" alt="Мобильный считыватель УСО-УВЧ-800М">
        </li>
        <li>
            <ul class="list-advantages">
                <li class="list-adv-element">
                    <app-default-text defaultText="соответствие в части радиочастотных параметров и методов модуляции, 
                    протоколов инициализации обмена и протоколов обмена данными международным стандартам ISO/IEC18000-6 
                    (части 2 и 3) и EPCC1Gen2"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="дальность считывания радиочастотных меток, до 10 м (20 м), в зависимости 
                    от типа меток"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="возможность ступенчатой регулировки выходной мощности с шагом не более 
                    3 дБ в пределах не менее 30 дБ"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="возможность  подключения до 4-х антенн или антенных решеток к 
                    стационарному устройству"></app-default-text>
                </li>
            </ul>
        </li>
    </ul>
    <app-heading-3 headingText="Мобильное устройство считывания-опроса диапазона ВЧ 13,56 МГц УСО-ВЧ13М"></app-heading-3>
    <ul class="image-with-text image-with-text-reverse">
        <li>
            <img class="image-c" src="assets/image/УСО_ВЧ13М-2.jpg" alt="Мобильный считыватель УСО-ВЧ13М">
        </li>
        <li>
            <ul class="list-advantages">
                <li class="list-adv-element">
                    <app-default-text defaultText="соответствие в части радиочастотных параметров и методов модуляции, 
                    части протоколов инициализации обмена и обмена данными  международным стандартам ISO/IEC 14443A-2, 
                    14443B-2, 15693-2, 18092, 18000-3"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="дальность считывания до 0,1 м при работе с радиочастотными метками 
                    стандартов ISO/IEC 14443, 18092, 18000-3 и до 0,2 м с при работе с радиочастотными метками 
                    стандарта ISO/IEC 15693"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="максимальная выходная ВЧ мощность не менее 20 дБм"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="возможность ступенчатой регулировки выходной мощности с шагом 
                    не более 3 дБ в пределах не менее 30 дБ"></app-default-text>
                </li>
            </ul>
        </li>
    </ul>
    <app-heading-3 headingText="Устройство считывания-опроса мобильное (стационарное) диапазона УВЧ 433,92 МГц
    УСО-УВЧ433М (С)"></app-heading-3>
    <ul class="image-with-text">
        <li>
            <img class="image-c" src="assets/image/ридер-433-0155.jpg" alt="Считыватель УСО-УВЧ433М">
        </li>
        <li>
            <ul class="list-advantages">
                <li class="list-adv-element">
                    <app-default-text defaultText="соответствие в части радиочастотных параметров и методов 
                    модуляции, протоколов инициализации обмена и протоколов обмена данными требованиям работы 
                    с активными метками собственной разработки СОНИИР"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="дальность считывания радиочастотных меток, не менее 
                    50 м (100 м)"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="максимальная выходная ВЧ мощность РПДУ, не менее 33 дБм"></app-default-text>
                </li>
                <li class="list-adv-element">
                    <app-default-text defaultText="возможность ступенчатой регулировки выходной мощности 
                    с шагом не более 3 дБ в пределах не менее 30 дБ"></app-default-text>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="block-text">
    <app-default-text defaultText="На предприятии СОНИИР разработан полный комплект оборудования RFID-систем. 
    Присутствуют две модели считывателей с интерфейсами подключения TCP и USB, в первом есть возможность 
    подключения одновременного до 4 антенн, что полезно для установки RFID-системы для контроля движения 
    транспорта. Для более простых задач можно использовать считыватель с интерфейсом USB с подключением 
    одной антенны. Считыватели передают через собственный универсальный протокол для передачи данных и 
    настраиваются через разработанную программу, где можно настраивать радио и сетевые параметры, регистры 
    и антенны. Имеется возможность перезаписывать данные в RFID-метках."></app-default-text>
    <br>
</div>
<app-big-image imageUrl="assets/image/rfid-inrf-app.jpg" imageText="Интерфейс программы управления RFID-считывателя"></app-big-image>