<div class="main-page-container">
    <div class="block-text">
        <app-heading-1 bigheadingText="Что такое RFID и как это работает"></app-heading-1>
        <app-default-text defaultText="Сегодня RFID-метки находят широкое применение в различных сферах
        , они используются как в логистике и отлеживании склада, так в охране и банковском обслуживании. 
        В чем их простота и преимущество, как они работают и как появлилсь - всему этому посвящён данный ресурс.">
        </app-default-text>
    </div>
    <app-big-image imageUrl="assets/image/rfid600.jpg" imageText="Простая RFID-метка, используемая в магазинах"></app-big-image>  
    <div class="block-text">  
        <app-heading-3 headingText="Основные понятия"></app-heading-3>
        <app-default-text defaultText="RFID (Radio Frequency Identification) – это технология идентификации 
        объектов с помощью радиочастотных сигналов. Чаще всего такая система работает при помощи двух элементов - 
        RFID-метки и считывателя. RFID-метки небольшого рамера и обычно не используются сами по себе, а прикрепляются 
        к другому объекту, например к одежде, машине или карте. Считыватели же напротив - могут быть громоздкими 
        и подстоянно подключены к питанию.">
        </app-default-text>
    </div>
    <app-big-image imageUrl="assets/image/rfid-reader-d.jpg" imageText="RFID-считыватель дверного замка"></app-big-image>
    <div class="block-text">
        <app-default-text defaultText="На сегодняшний день эта технология хоть и возможно незаметно, 
        но довольно плотно привязана к нашей жизни. Само внутренне устройство RFID-меток и считывателей 
        довольно интересно, а больше о возможностях RFID-технологии и её основных принципах вы можете 
        узнать на следующих страницах нашего сайта. [сюда можно добавить кнопку стрелки наверх]"></app-default-text>
    </div>
    <br><br><br>
</div>
