.main-page-container {
  background-color: white;
  color: black;
}

/*НЕ РАБОТАЕТ*/
.mat-raised-button {
  background-color: yellow;
  color: yellow;
  border-radius: 15px;
}

.block-text {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  font-family: Arial, sans-serif;
}