.footer {
    background-color: #01478F;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    font-family: Arial, sans-serif;
}

.back-to-top {
    z-index: 0;
    color: rgb(18, 0, 82);
    padding: 10px;
}
  
.defoult-button-set:hover {
    background-color: rgb(43, 90, 199);
    color: white;
}