.footer {
    background-color: #01478F;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    font-family: Arial, sans-serif;
}

.footer-link {
    margin: 5px;
    background-color: azure;
    color: black;
    padding: 5px;
    border-radius: 5px;
}