.header {
  background-color: #ffffff;
  color: #fff;
  padding-bottom: 10px;
}

.header-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: white;
}

.header-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-list-element {
  margin-right: 20px;
}

.header-list-element:last-child {
  margin-right: 0;
}

.header-logo {
  height: 40px;
  width: auto;
  margin-top: 5px;
}



.header-logo:hover {
  filter: none;
}

.header-title {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

.nav-bar {
  background-color: #01478F;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

.nav-bar-button a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-bar-button a:hover {
  background-color: rgb(43, 90, 199);
  color: white;
}
