<header class="header">
    <nav class="nav-bar">
        <ul>
            <li><a class="nav-bar-logo" href="https://soniir.niir.ru/o-filiale/o-nas/" target="_blank" title="О нас"><img class="header-logo" src="assets/icon/logo.svg" alt="Логотип СОНИИР"></a></li>
            <li><app-default-button rLink="/" buttonText="Главная" buttonColor="primary"></app-default-button></li>
            <li><app-default-button rLink="/history" buttonText="История"></app-default-button></li>
            <li><app-default-button rLink="/principles" buttonText="Общие принципы"></app-default-button></li>
            <li><app-default-button rLink="/compare" buttonText="Сравнение технологий"></app-default-button></li>
            <li><app-default-button rLink="/implementations" buttonText="Реализации"></app-default-button></li>
            <!--<li><app-default-button rLink="/debug" buttonText="Страница отладки"></app-default-button></li>-->
        </ul>
    </nav>
</header>