<header class="header">
    <nav class="header-line">
        <ul class="header-list">
            <li class="header-list-element">
                <a href="https://soniir.niir.ru/"><img class="header-logo" src="assets/icon/logo.svg" alt="Логотип СОНИИР"></a>
            </li>
            <li class="header-list-element">
                <h2 class="header-title">
                    Информационный ресурс
                </h2>
            </li>
        </ul>
    </nav>
    <nav class="nav-bar">
        <ul>
            <li><app-default-button rLink="/" buttonText="Главная" buttonColor="primary"></app-default-button></li>
            <li><app-default-button rLink="/history" buttonText="История"></app-default-button></li>
            <li><app-default-button rLink="/principles" buttonText="Общие принципы"></app-default-button></li>
            <li><app-default-button rLink="/implementations" buttonText="Реализации"></app-default-button></li>
            <li><app-default-button rLink="/debug" buttonText="Страница отладки"></app-default-button></li>
        </ul>
    </nav>
</header>