.block-text {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.material-button {
  color: blue;
}

.footer-link {
  margin: 5px;
  background-color: azure;
  color: black;
  padding: 5px;
  border-radius: 5px;
}