<div class="debug-page-main">
    <div class="block-text">
        
    </div>
    <app-big-image imageUrl="assets/image/866mhz.jpg" imageText="Пример картинки"></app-big-image>
    <app-big-image></app-big-image>
    <a mat-flat-button color="warn" class="footer-link" href="#">Ссылка 1</a>
    <a mat-flat-button color="primary" class="footer-link" href="#">Ссылка 2</a>
    <a mat-flat-button color="accent" class="footer-link" href="#">Ссылка 3</a>
    <app-default-button class="material-button" rLink="/" buttonText="Главная"></app-default-button>
</div>