<div class="debug-page-main">
    <app-heading-1 bigheadingText="Это страница отладки"></app-heading-1>
    <p>Оно живое - Главная страница</p>
    <button mat-raised-button color="primary">Basic</button>
    <app-big-image imageUrl="assets/image/866mhz.jpg" imageText="Пример картинки"></app-big-image>
    <app-big-image></app-big-image>
    <br>
    <p>ПРОВЕРКА СИНХРОНИЗАЦИИ</p>
    <div class="block-text">
        <app-heading-3 headingText="ТУТ заголовок H3"></app-heading-3>
        <app-default-text defaultText="МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст... МНОГА!! буКав. ВСТАВИТЬ текст..."></app-default-text>
    </div>
</div>