<div class="block-text">
    <app-heading-1 bigheadingText="История развития технологии RFID"></app-heading-1>
    <app-default-text defaultText="Технология, наиболее близкая к данной — система распознавания «свой-чужой» IFF 
    (Identification Friend or Foe), изобретённая Исследовательской лабораторией ВМС США в 1937 году. Она активно 
    применялась союзниками во время Второй мировой войны, чтобы определить, своим или чужим является объект в 
    небе. Подобные системы до сих пор используются как в военной, так и в гражданской авиации."></app-default-text>
    <app-heading-3 headingText="Коммерческое внедрение (1960-1970-е)"></app-heading-3>
    <app-default-text defaultText="Первое коммерческое использование RFID началось в 1960-х годах, когда компании 
    Sensormatic и Checkpoint разработали системы для предотвращения краж на основе электронного оборудования 
    наблюдения (EAS). Эти системы использовали 1-битные метки и стали первыми широко распространенными 
    коммерческими RFID-системами."></app-default-text>
    <app-heading-3 headingText="Развитие и стандартизация (1980-1990-е)"></app-heading-3>
    <app-default-text defaultText="В 1980-х годах RFID-технологии начали активно развиваться и внедряться 
    в различные сферы. В США основное внимание уделялось системам для транспортировки и контроля доступа 
    персонала, в то время как в Европе были популярны системы для отслеживания животных и промышленные 
    приложения. В этот период также началась работа над международными стандартами для RFID-технологий."></app-default-text>
    <app-heading-3 headingText="Массовое внедрение (2000-е)"></app-heading-3>
    <app-default-text defaultText="С начала 2000-х годов RFID-технологии начали массово внедряться в 
    различных отраслях. Большой вклад в популяризацию RFID внесли такие компании, как Wal-Mart и Procter 
    & Gamble, которые использовали эту технологию для управления цепочками поставок. В 1999 году в 
    Массачусетском технологическом институте (MIT) был открыт Auto-ID центр, который способствовал 
    разработке глобальной стандартной системы для RFI​D."></app-default-text>
    <app-heading-3 headingText="Современное состояние и перспективы (2010-е - настоящее время)"></app-heading-3>
    <app-default-text defaultText="Сегодня RFID-технологии применяются в самых разных областях: 
    от ритейла и логистики до медицины и безопасности. Современные системы позволяют 
    автоматизировать процессы учета и контроля, улучшать эффективность бизнес-процессов и 
    повышать уровень безопасности. Перспективы развития RFID включают улучшение дальности 
    считывания, увеличение емкости памяти меток и снижение стоимости технологий​."></app-default-text>
    <br>
</div>

