<div class="block-text">
    <app-heading-1 bigheadingText="Основные принципы технологии RFID"></app-heading-1>
    <app-default-text defaultText="RFID-система состоит из двух устройств - считывателя и транспондера (RFID-метка), а 
    взаимодействуют они между друг другом через радиосигнал."></app-default-text>
    <app-heading-3 headingText="Классификация RFID-систем"></app-heading-3>
    <app-default-text defaultText="RFID-системы в основном классифицируют по дальности действия:"></app-default-text>
    <!--СДЕЛАТЬ КОМПОНЕНТ ДЛЯ СПИСКОВ В ТЕКСТЕ с красивым отступом-->
    <ul>
        <li>
            <app-default-text defaultText="до 20 см - ближняя идентификация (чипы на одежде, банковские карты, чипы в 
            теле животного или человека)"></app-default-text>
        </li>
        <li>
            <app-default-text defaultText="от 20 см до 10 м – средняя дальность (охранные пропуска для авто, учёт склада)"></app-default-text>
        </li>
        <li>
            <app-default-text defaultText="от 10 до 300 м – дальняя идентификация (отслеживаение крупногабаритного 
            транспорта и местоположения)"></app-default-text>
        </li>
    </ul>
    <app-default-text defaultText="Так же можно классифицировать отдельно транспондеры и считыватели."></app-default-text>
    <app-default-text defaultText="Считыватель может быть портативным или стационарный, автоматический или с ручным управлением."></app-default-text>
</div>
<app-big-image imageUrl="assets/image/reader-render.jpg" imageText="Ручной и стационарый RFID-считыватель"></app-big-image>
<div class="block-text">
    <app-default-text defaultText="RFID-метки чаще всего делят по типу питания – пассивные, полупассивные и активные, 
    помимо этого, можно так же классифицировать по типу памяти, конструкции, диапазону рабочих частот и другим свойствам."></app-default-text>
</div>
<div>
    <table class="table-default">
        <tr>
            <th>Тип метки</th>
            <th>Описание отличий</th>
            <th>Изображение</th>
        </tr>
        <tr>
            <td class="table-td-name">Пассивные</td>
            <td class="table-td-desc">Пассивные метки не имеют собственного источника питания и получают энергию для работы от радиочастотного 
                сигнала, передаваемого считывателем. Это делает их самыми дешевыми, но с меньшим диапазоном детектирования.</td>
            <td><img class="table-td-img" src="assets/image/rfid-passive-tag.jpg" alt="Пассивная RFID-метка"></td>
        </tr>
        <tr>
            <td class="table-td-name">Полупассивные</td>
            <td class="table-td-desc">Полупассивные метки имеют небольшую встроенную батарею, которая питает микросхему и позволяет им 
                работать без внешнего источника питания с большим диапазоном детектирования по сравнению с пассивными 
                метками, но также и большую стоимость.</td>
            <td><img class="table-td-img" src="assets/image/rfid-semi-passive-tag.png" alt="Полупассивная RFID-метка"></td>
        </tr>
        <tr>
            <td class="table-td-name">Активные</td>
            <td class="table-td-desc">Активные метки имеют встроенный источник питания, который позволяет им передавать постоянный сигнал 
                на большие расстояния. Они обычно используются для мониторинга перемещения дорогостоящих активов и могут 
                содержать датчики для сбора дополнительной информации, что делает их самыми дорогостоящими.</td>
            <td><img class="table-td-img" src="assets/image/rfid-active-tag.png" alt="Активная RFID-метка"></td>
        </tr>
    </table>
</div>
<app-big-image imageUrl="assets/image/rfid-mtks.png" imageText="Различные виды конструкций RFID-меток"></app-big-image>
<div class="block-text">
    <app-heading-3 headingText="Устройство простой RFID-системы"></app-heading-3>
    <app-default-text defaultText="Рассмотрим работу технологии на примере простейшей системы с пассивной RFID-меткой."></app-default-text>
</div>
<app-big-image imageUrl="assets/image/RFID-scheme-L1L2.png" imageText="Простейшая схема RFID-системы"></app-big-image>
<div class="block-text">
    <app-default-text defaultText="Генератор формирует переменный ток такой частоты, на которую настроен 
    колебательный контур RFID-метки, далее переменный ток через антенну излучается в виде электромагнитного поля, 
    которое пересекает витки катушки индуктивности транспондера (на схеме обозначена как L3). Так как генератор и 
    колебательный контур метки считывателя настроены на одну частоту, то в контуре возникает ток той же частоты. 
    Из-за этого направление магнитного поля, возникающего в RFID-метке прямо противоположно изначальному 
    электромагнитному полю считывателя, а это незначительно снижает напряжение в катушке L2 считывателя. 
    Для того что бы измерить это падение напряжения в считывателе установлена катушка L1 с вольтметром. 
    Для более точного измерения генератор считывателя может быть установлен не с фиксированной, я с 
    плавающей частотой (например, 8,2 МГц ± 10%), это дает возможность захватить больший диапазон частот."></app-default-text>
    <app-heading-3 headingText="Устройство сложных RFID-схем"></app-heading-3>
    <app-default-text defaultText="В более сложных схемах у RFID-меток может присутствовать собственное 
    питание и чипы памяти с записанной информацией. Наличие питания в транспондере напрямую влияет на 
    дальность передачи сигнала. Чипы памяти при обнаружении RFID-метки считывателем передают информацию, 
    которая в них содержится, что можно использовать в различных сферах, где важно вести точный учёт. 
    Так же в дополнение к RFID-метке в корпус могут быть подключены дополнительны устройства, например 
    различные датчики, Bluetooth, GPS, как например это реализовано в Apple AirTag."></app-default-text>
    <app-heading-3 headingText="Деактивация RFID-меток"></app-heading-3>
    <app-default-text defaultText="Часто приходя домой после шопинга, на одежде можно обнаружить 
    RFID-метки, которые были вшиты в бирки. В таком случае может возникнуть вопрос: “Почему 
    считыватель в виде рамки на выходе из магазина не среагировал?”. Все дело в том, что кассир 
    в момент оплаты подносит товары к излучателю электромагнитного поля, которое достаточно для 
    пробоя конденсатора в колебательном контуре транспондера. После этого по контору возникающий 
    ток спокойно протекает и не вызывает таких частотных возмущений, как раньше. Такое свойство 
    важно учитывать при конструировании считывателя, так как избыточная мощность считывателя 
    может так же деактивировать транспондер."></app-default-text>
</div>
<app-big-image imageUrl="assets/image/remRFID.jpg" imageText="Деактиватор RFID-меток"></app-big-image>